<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<% if (errors) { %>
    <ol class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
<%  }) %>
   </ol>
<% } %>

<p>All fields are required.</p>
<div class="form-container">
    <form id="registerForm" action="/account/register" method="post">
        <div>
            <label for="account_firstname">First name:</label>
            <input 
                type="text" 
                id="account_firstname" 
                name="account_firstname" 
                placeholder="Enter your first name" 
                required value="<%= locals.account_firstname %>">
        </div>

        <div>
            <label for="account_lastname">Last name:</label>
            <input 
                type="text" 
                id="account_lastname" 
                name="account_lastname" 
                placeholder="Enter your last name" 
                required value="<%= locals.account_lastname %>">
        </div>

        <div>
            <label for="account_email">Email:</label>
            <input 
                type="email" 
                id="account_email" 
                name="account_email" 
                placeholder="Enter your email" 
                required value="<%= locals.account_email %>">
        </div>

        <div>
            <label for="account_password">Password:</label>
            <input 
                type="password" 
                id="account_password" 
                name="account_password" 
                placeholder="Enter your password" 
                required
                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            >
            <div>
                <i>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital letter, and one must be a non-alphanumeric character</i>
            </div>
            <button type="button" id="togglePassword">Show Password</button>    
        </div>
                
        <button type="submit">register</button>
    </form>
</div>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const passwordField = document.querySelector('#account_password');

    togglePassword.addEventListener('click', function () {
        // Toggle the type attribute between 'password' and 'text'
        const isPasswordHidden = passwordField.getAttribute('type') === 'password';
        passwordField.setAttribute('type', isPasswordHidden ? 'text' : 'password');
        
        // Update the button text accordingly
        this.textContent = isPasswordHidden ? 'Hide Password' : 'Show Password';
    });
</script>
