<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/inv/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ol class="notice">
        <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
        <%  }) %>
    </ol>
<% } %>

<form action="/inv/add-inventory" method="POST" id="addInventoryForm">
    <label for="classification_id">Vehicle Classification:</label>
    <%= classificationList %>

    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" placeholder="min of 3 characters" value="<%= locals.inv_make %>" required>

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model"  placeholder="min of 3 characters" value="<%= locals.inv_model %>" required>

    <label for="inv_year">Year:</label>
    <input type="number" id="inv_year" name="inv_year"  placeholder="4-digit year" value="<%= locals.inv_year %>" required>

    <label for="inv_description">Description:</label>
    <textarea id="inv_description" name="inv_description" required><%= locals.inv_description || '' %></textarea>

    <label for="inv_image">Image Path:</label>
    <input type="text" id="inv_image" name="inv_image" value="<%= locals.inv_image %>" required>

    <label for="inv_thumbnail">Thumbnail Path:</label>
    <input type="text" id="inv_thumbnail" name="inv_thumbnail" value="<%= locals.inv_thumbnail %>" required>

    <label for="inv_price">Price:</label>
    <input type="number" id="inv_price" name="inv_price" placeholder="decimal or integer" value="<%= locals.inv_price %>" required>

    <label for="inv_miles">Miles:</label>
    <input type="number" id="inv_miles" name="inv_miles" placeholder="digits only" value="<%= locals.inv_miles %>" required>

    <label for="inv_color">Color:</label>
    <input type="text" id="inv_color" name="inv_color"  placeholder="min of 3 characters" value="<%= locals.inv_color %>" required>

    <button type="submit">Add Vehicle</button>
</form>