<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/inv/')
} %>

<%- messages() %>
<h3>Confirm Deletion - The delete is permanent.</h3>

<form id="deleteForm" action="/inv/delete-inventory/" method="post">

    <label for="inv_make" readonly>Make:</label>
    <input type="text" id="inv_make" name="inv_make"  readonly placeholder="min of 3 characters" value="<%= locals.inv_make %>" required>

    <label for="inv_model" readonly>Model:</label>
    <input type="text" id="inv_model" name="inv_model"  readonly placeholder="min of 3 characters" value="<%= locals.inv_model %>" required>

    <label for="inv_year" readonly>Year:</label>
    <input type="number" id="inv_year" name="inv_year" readonly placeholder="4-digit year" value="<%= locals.inv_year %>" required>

    <label for="inv_price" readonly>Price:</label>
    <input type="number" id="inv_price" name="inv_price" readonly placeholder="decimal or integer" value="<%= locals.inv_price %>" required>

    <button type="submit">Delete Vehicle</button>
    <!-- Hidden field to store the inventory ID -->
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>
